/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        JK_ESC {
            bindings = <&kp ESC>;
            key-positions = <19 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E             &kp R                &kp T        &kp Y            &kp U      &kp I            &kp O    &kp P     &kp DELETE
&kp LEFT_ALT    &kp A  &kp S  &kp D             &kp F                &kp G        &kp H            &kp J      &kp K            &kp L    &kp SEMI  &mt RIGHT_ALT SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C             &kp V                &kp B        &kp N            &kp M      &kp COMMA        &kp DOT  &kp FSLH  &kp ESC
                              &mt LCTRL ESCAPE  &mt LEFT_META ENTER  &lt 1 TAB    &lt 2 BACKSPACE  &kp SPACE  &kp RIGHT_SHIFT
            >;
        };

        LOWER {
            bindings = <
&trans  &kp EXCL      &kp AT_SIGN   &kp HASH      &kp DOLLAR        &kp PERCENT       &kp CARET        &kp AMPERSAND      &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp N5            &kp NUMBER_6     &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9          &kp NUMBER_0           &trans
&trans  &trans        &kp TILDE     &kp GRAVE     &kp LEFT_BRACKET  &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans        &trans                &trans                 &trans
                                    &trans        &trans            &trans            &trans           &trans             &trans
            >;
        };

        UPPER {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &kp BACKSLASH  &kp PIPE  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT      &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans         &trans    &trans
                        &trans  &trans  &trans    &trans          &trans    &trans
            >;
        };
    };
};
